body{
    background-color:teal;
    font-family: sans-serif;   
}

p{
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
    margin-left: 25px;
    color:white;
}